body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.7em;
    
    background-color: #fff6ee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    max-width: 60vw;
}

#giftDisplay {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#giftBox {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 1fr 50px 1fr;
    min-height: 75px;
    min-width: 50px;
    max-width: 60vw;
    max-height: 60vh;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .7);
}

.ribbon {
    background-color: white;
    border: 5px solid white;
}

#giftDisplay img {
    max-width: 80%;
    rotate: 7deg;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .7);
}